---
import Search from "@components/Search/Search";
---

<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-white">
      MOVIES API <Search client:load /></span
    >
    <ul class="navbar-nav">
      <a href={`/`} class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
        Movies
      </a>
      <a href={`/blog/`} class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
        Blog
      </a> 
    </ul>
  </div>
</nav>
